html {
  font-family: Merriweather, serif;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-align: center;
}

body {
  margin: 0;
}

li a{
  border: 1px solid #a63f38;
  width: 33.33%;
  float: right;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

header {
  background-color: #d05c2e;
  padding: 1em 0 .001em;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
  padding: 1em;
  font-size: 1.125rem;
}

li a:hover {
  background-color: #a63f38;
}

.grain-left {
  float: left;
}

.grain-right {
  float: right;
}

img {
  width: 40px;
  padding: .4rem 0;
}
